body {
  background-color: #2A2F38;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 56px;
  color: #EEEEEE;
}

#threadsContainer {
  visibility: hidden;
  margin: auto;
  width: 60%;
}

#topicContainer {
  margin: auto;
  width: 60%;
  font-family: Helvetica, sans-serif;
}

#topicTitle {
  background-color: gray;
  font-size: 24px;
  text-align: center;
}

.messageContainer {
  padding: 4px;
  background-color: gainsboro;
}

.threadEntry {
  padding: 4px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: gainsboro;
  text-align: left;
}

.threadName {
  float: left;
}

.threadReplyCount {
  float: right;
}

.threadEntry::after {
  content: "";
  clear: both;
  display: table;
}

#threadKey {
  margin: auto;
  padding: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  background-color: gainsboro;
  text-align: left;
}

#nameKey {
  float: left;
  width: 75%;
}

#replyKey {
  float: right;
}

.threadKey::after {
  content: "";
  clear: both;
  display: table;
}

#pageControl {
  width: 75px;
  margin:auto;
  padding: 12px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

#pageBack {
  float: left;
}

#pageForward {
  float:left;
}

#pageNumber {
  color: #EEEEEE;
  margin: 0;
  float:left;
}
